@CHARSET "UTF-8";

body {
	background-color: lightgrey
}

.previous {
	height: 40px;
	width: 40px;
}

.next {
	height: 40px;
	width: 40px;
}

.attempted {
	color: green;
}

.notAttempted {
	color: red;
}